<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BancoDeDados_Data_Grid_File.Properties.Settings.FATURAMENTO_UPDATEConnectionString"
            connectionString="Data Source=192.168.253;Initial Catalog=FATURAMENTO_UPDATE;Persist Security Info=True;User ID=sa;Password=m2y6bvMEkls"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotaFiscalEletronicaServico">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://nfe.osasco.sp.gov.br/EissnfeWebServices/NotaFiscalEletronica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotaFiscalEletronicaServico"
                contract="ServiceWeb.INotaFiscalEletronicaServico" name="BasicHttpBinding_INotaFiscalEletronicaServico" />
        </client>
    </system.serviceModel>
</configuration>