@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Livraria</p>
    <p><a href="#" class="btn btn-primary btn-lg">add</a></p>
</div>

<div class="row">
   
    
 
</div>